.main {
  text-align: center;
  padding: calc(var(--spacing-unit) * 4);
}

.nav-item {
  margin: var(--spacing-unit);
}

:global .nav-item-selected {
  color: var(--palette-secondary-main) !important;
}
