.main {
  height: calc(100% - 64px);
  overflow: auto;
  /* padding: calc(var(--spacing-unit) * 4); */

  text-align: center;
}

.nav-item {
  margin: var(--spacing-unit);
}

:global .nav-item-selected {
  color: var(--palette-secondary-main) !important;
}
