.TheScreen {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 80px auto;
  grid-gap: 0;
  padding: 0;
  margin: 0;
  height: 98vh;
}

.AppBar {
  grid-column: 1 / 2;
  grid-row: 1;
}

.NLPDialogColumn {
  grid-column: 1;
  grid-row: 2;
  overflow: hidden;
}

.WorkArea {
  grid-column: 2;
  grid-row: 2;
}