.scene-box {
  display: grid;
  grid-template-columns: 240px auto;
  grid-gap: 0;
  height: 100%;
  padding: 0 1px;
}

.dialog {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.space {
  grid-column: 2;
  grid-row: 1;
}
