.NLPDialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.NLPItem {
  margin-left: 4px;
  margin-bottom: 8px;
}

.NLPItem span {
  display: inline-block;
  background-color: blueviolet;
  border-radius: 50%;
  width: 2em;
  line-height: 2em;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.NLPInput {
  background-color: white;
  padding-left: 2px;
  padding-top: 2px;
  overflow: hidden;
  border: 1px gray solid;
}

.NLPInput textarea {
  border: none;
  min-width: calc(100% - 4px);
  resize: none;
  font-family: inherit;
  font-size: 12px;
  min-height: 120px;
}
