.main {
  height: calc(100% - 64px);
  overflow: auto;
  text-align: center;
}

.main.scene-pad {
  padding: calc(var(--spacing-unit) * 4);
}

.nav-item {
  margin: var(--spacing-unit);
}

:global .nav-item-selected {
  color: var(--palette-secondary-main) !important;
}
