@import "_reset.css";

/* TYPOGRAPHY */

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/

/* Material UI: Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i&subset=cyrillic-ext');
/* Material UI: Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* BASE */

a,
a:hover,
a:visited,
a:link {
  color: inherit;
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

html,
body,
.react-root {
  height: 100%; /*100vh*/
}

body {
  font-size: 14px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}


/* LAYOUT */

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}


/* FIXME tmp*/

@import "common.css";
