.main {
  /*height: calc(100% - 64px);*/
  overflow: auto;
  text-align: center;

  flex-grow: 1;
  /*display: flex;*/
}

:global .gdmn-nav-item-selected * {
  color: var(--palette-primary-main) !important;
}

.main.scene-pad {
  padding: calc(var(--spacing-unit) * 4);
}

.gdmn-nav-item-nested {
  padding-left: calc(var(--spacing-unit) * 4) !important;
}
